body {
    background-color: gray;
    font-family: "alfarn", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 3px 3px 0px black;
}

h1 {
    text-align: center;
    font-size: 5em; 
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 10px 10px 0px black;
}

h2 {
    text-align: center;
    font-size: 3em;
    margin: 10px;
    padding: 10px;
}

.border {
    margin: 10px;
    padding: 15px;
    border: 2px solid white;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 20px;
}

.border:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.group {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content;
}

nav {
    display: block;
    border: 2px solid white;
    border-radius: 30px;
    height: 10%;
    width: max-content;
    padding: 10px;
    margin: 10px auto;
    font-size: 1.5em;
}

progress {
    text-align: center;
    display: block;
    margin: auto auto;
    width: 75%;
    accent-color: gray;
}

a {
    padding: 7px;
    text-shadow: 6px 6px 0px black;
}

a:hover {
    padding: 5px;
    text-shadow: none;
    text-decoration: none;
    color: white;
    border: 2px outset white;
    border-radius: 20px;
}

a:visited {
  text-decoration: none;
  color: white;
  text-shadow: none;
}

a:link {
    text-decoration: none;
    color: white;

}

.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80%; 
    padding: 20px;
}

.logo1 img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    font-size: 2em;
}